Repository xlcnd/meteoalarm-rssapi, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, core

add data
  meteoalarm_rssapi/_resources.py
Labels: core

add more tests
  meteoalarm_rssapi/test/test_alerts.py
Labels: test

newest alarms first
  CHANGES.txt
  meteoalarm_rssapi/_parser.py
Labels: repo, core

release 0.2.0
  CHANGES.txt
Labels: repo

init v0.2.1
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

delete redundant code
  meteoalarm_rssapi/_parser.py
Labels: core

release 0.2.1
  CHANGES.txt
  meteoalarm_rssapi/_parser.py
Labels: repo, core

init v0.2.2
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

delete comments
  meteoalarm_rssapi/_parser.py
Labels: core

update resources
  meteoalarm_rssapi/_resources.py
Labels: core

qa -- clean
  meteoalarm_rssapi/_parser.py
Labels: core

optimize flow
  meteoalarm_rssapi/_parser.py
Labels: core

optimize flow
  meteoalarm_rssapi/_parser.py
Labels: core

optimize flow
  meteoalarm_rssapi/_parser.py
Labels: core

qa -- ws
  meteoalarm_rssapi/test/test_alerts.py
  meteoalarm_rssapi/test/test_countries.py
  meteoalarm_rssapi/test/test_regions.py
Labels: test

qa -- ren & ws
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_parser.py
  meteoalarm_rssapi/_webquery.py
  meteoalarm_rssapi/exceptions.py
Labels: repo, core

add disclaimer
  README.md
Labels: repo

add disclaimer
  README.md
Labels: repo

add disclaimer
  README.md
Labels: repo

add disclaimer
  README.md
Labels: repo

add KEYS
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_parser.py
Labels: core

add RE_EOL
  meteoalarm_rssapi/_parser.py
Labels: core

fix codeql
  .github/workflows/codeql-analysis.yml
Labels: none

fix codeql
  .github/workflows/codeql-analysis.yml
Labels: none

fix codeql
  .github/workflows/codeql-analysis.yml
Labels: none

fix codeql
  .github/workflows/codeql-analysis.yml
Labels: none

delete RE_TAG
  meteoalarm_rssapi/_parser.py
Labels: core

set ON release mode
  CHANGES.txt
Labels: repo

release 0.2.2
  CHANGES.txt
Labels: repo

init v0.2.3
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

add service's health check
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_helpers.py
  meteoalarm_rssapi/test/test_health_check.py
Labels: test, core

simplify service's health check
  meteoalarm_rssapi/test/test_health_check.py
Labels: test

qa -- fmt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/test/test_health_check.py
Labels: test, core

add method health_check
  meteoalarm_rssapi/_helpers.py
  meteoalarm_rssapi/_parser.py
Labels: core

add method health_check
  CHANGES.txt
  meteoalarm_rssapi/_parser.py
Labels: repo, core

add test health_check (thru class)
  meteoalarm_rssapi/test/test_health_check.py
Labels: test

add test health_check (thru class)
  meteoalarm_rssapi/_parser.py
Labels: core

add exception MeteoAlarmMissingInfo
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_parser.py
  meteoalarm_rssapi/exceptions.py
Labels: core

add exception MeteoAlarmMissingInfo
  meteoalarm_rssapi/_helpers.py
  meteoalarm_rssapi/_parser.py
Labels: core

set ON release mode
  CHANGES.txt
Labels: repo

.github/labeler.yml:

repo:
  - ./*

test:
  - meteoalarm_rssapi/test/*

core:
  - meteoalarm_rssapi/*
