Repository xlcnd/meteoalarm-rssapi, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, core

.github/labeler.yml:

repo:
  - ./*

test:
  - meteoalarm_rssapi/test/*

core:
  - meteoalarm_rssapi/*

release 1.0.4
  CHANGES.txt
Labels: repo

init v1.0.5
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
  release.md
Labels: repo, core

config 'nosetests'
  meteoalarm_rssapi/test/test_alerts.py
  meteoalarm_rssapi/test/test_countries.py
  meteoalarm_rssapi/test/test_health_check.py
  meteoalarm_rssapi/test/test_languages.py
  meteoalarm_rssapi/test/test_regions.py
  setup.cfg
Labels: repo, test

config 'pytest'
  setup.cfg
Labels: repo

fix 'nosetests' config
  .github/workflows/basictests.yml
  setup.cfg
Labels: repo

qabot -- clean
  .github/workflows/basictests.yml
Labels: none

reconfig UK
  meteoalarm_rssapi/_resources.py
Labels: core

reconfig UK
  CHANGES.txt
  release.md
Labels: repo

release 1.0.5
  CHANGES.txt
Labels: repo

init v1.0.6
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
  release.md
Labels: repo, core

add SPDX identifier (LGPL-3.0-or-later)
  COPYRIGHT.txt
  LICENSE.txt
Labels: repo

[devbot] modernize python
  meteoalarm_rssapi/_parser.py
Labels: core

add WARNING
  README.md
Labels: repo

add WARNING
  README.md
Labels: repo

add WARNING
  README.md
Labels: repo

add WARNING
  README.md
Labels: repo
