Repository xlcnd/meteoalarm-rssapi, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, core

.github/labeler.yml:

repo:
  - ./*

test:
  - meteoalarm_rssapi/test/*

core:
  - meteoalarm_rssapi/*

add .github
  .github/workflows/basictests.yml
Labels: none

add .github
  .github/workflows/basictests.yml
Labels: none

add region to crc
  meteoalarm_rssapi/_parser.py
Labels: core

qa -- fmt
  meteoalarm_rssapi/_parser.py
Labels: core

add badgets
  README.md
Labels: repo

add badgets
  README.md
Labels: repo

add badgets
  README.md
Labels: repo

qa -- clarify
  README.md
Labels: repo

qa -- fmt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: core

add 'published'
  meteoalarm_rssapi/_parser.py
Labels: core

add 'published'
  README.md
Labels: repo

add links
  README.md
Labels: repo

add links
  README.md
Labels: repo

qa -- fmt
  setup.py
Labels: repo

qa -- fmt
  README.md
Labels: repo

qa -- fmt
  README.md
Labels: repo

release 0.1.6
  CHANGES.txt
Labels: repo

init v0.1.7
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

detect more wrong region's name
  meteoalarm_rssapi/_parser.py
Labels: core

detect more wrong region's names
  meteoalarm_rssapi/_parser.py
Labels: core

full 'get_regions'
  meteoalarm_rssapi/_parser.py
Labels: core

add more tests
  README.md
  meteoalarm_rssapi/test/test_regions.py
Labels: repo, test

delete MANY_REGIONS_COUNTRIES strategy
  meteoalarm_rssapi/_parser.py
  meteoalarm_rssapi/_resources.py
  meteoalarm_rssapi/test/test_regions.py
Labels: test, core

release 0.1.7
  CHANGES.txt
Labels: repo

init v0.1.8
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

update resources
  meteoalarm_rssapi/_resources.py
Labels: core

update resources
  meteoalarm_rssapi/_resources.py
Labels: core

qa -- fmt
  setup.cfg
Labels: repo

qa -- fmt
  README.md
Labels: repo

update resources
  CHANGES.txt
Labels: repo

release 0.1.8
  CHANGES.txt
Labels: repo

init v0.1.9
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

add 'countries_iso' helper
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_parser.py
Labels: repo, core

reformulate project files
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_parser.py
  meteoalarm_rssapi/_resources.py
Labels: core

reformulate project files
  meteoalarm_rssapi/_helpers.py
Labels: core

change public names
  meteoalarm_rssapi/__init__.py
Labels: core

add more tests
  meteoalarm_rssapi/test/test_countries.py
Labels: test

release 0.1.9
  CHANGES.txt
Labels: repo

init v0.2.0
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

new strategy (all alerts but unique)
  meteoalarm_rssapi/_parser.py
Labels: core
