Repository xlcnd/meteoalarm-rssapi, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, core

.github/labeler.yml:

repo:
  - ./*

test:
  - meteoalarm_rssapi/test/*

core:
  - meteoalarm_rssapi/*

fix path on windows
  .github/workflows/basictests.yml
Labels: none

fix path on windows
  .github/workflows/basictests.yml
Labels: none

fix path on windows
  .github/workflows/basictests.yml
Labels: none

fix path on windows
  .github/workflows/basictests.yml
Labels: none

fix path on windows
  .github/workflows/basictests.yml
Labels: none

fix path on windows
  .github/workflows/basictests.yml
Labels: none

pytest on macos
  .github/workflows/basictests.yml
Labels: none

return to nose on macos
  .github/workflows/basictests.yml
Labels: none

change to f-strings
  meteoalarm_rssapi/_client.py
  meteoalarm_rssapi/_webquery.py
Labels: core

add '__init__.py' to test/
  meteoalarm_rssapi/test/__init__.py
Labels: test

relative paths on test/
  meteoalarm_rssapi/test/test_alerts.py
  meteoalarm_rssapi/test/test_countries.py
  meteoalarm_rssapi/test/test_health_check.py
  meteoalarm_rssapi/test/test_languages.py
  meteoalarm_rssapi/test/test_regions.py
Labels: test

pytest on macos
  .github/workflows/basictests.yml
Labels: none

add identifiers
  README.md
Labels: repo

update actions everyday
  .github/dependabot.yml
Labels: none

update actions
  .github/workflows/basictests.yml
  .github/workflows/wip.yml
Labels: none

qa -- refactor 'client'
  meteoalarm_rssapi/_client.py
Labels: core

qa -- add gh lab
  .github/workflows/lab.yaml
Labels: none

qa -- add gh lab
  CHANGES.txt
Labels: repo

qa -- add gh lab
  .github/workflows/lab.yaml
  CHANGES.txt
Labels: repo

qa -- add gh lab
  .github/workflows/lab.yaml
Labels: none

qa -- add release action
  .github/workflows/create-release.yaml
  .github/workflows/lab.yaml
  release.md
Labels: repo

update 'quirks' for IT (issue #6)
  meteoalarm_rssapi/_resources.py
Labels: core

fill in template
  CHANGES.txt
  release.md
Labels: repo

return all country's languages if msg not parsed
  meteoalarm_rssapi/_parser.py
Labels: core

fill in template
  release.md
Labels: repo

qa -- clear text
  .github/workflows/create-release.yaml
Labels: none

fill in template
  CHANGES.txt
  release.md
Labels: repo

release 1.0.1
  CHANGES.txt
  release.md
Labels: repo

init v1.0.2
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

fill out template
  release.md
Labels: repo

fill out template
  release.md
Labels: repo

update quirk BA
  meteoalarm_rssapi/_resources.py
Labels: core

update quirk BA
  release.md
Labels: repo

don't parse msg for countries with non-stable quirks
  meteoalarm_rssapi/_parser.py
  meteoalarm_rssapi/_resources.py
Labels: core

fill in template
  CHANGES.txt
  release.md
Labels: repo

make argument 'language' optional
  meteoalarm_rssapi/_parser.py
Labels: core

use 'nose' on macos
  .github/workflows/basictests.yml
Labels: none

qa -- fmt
  meteoalarm_rssapi/_parser.py
Labels: core

qa -- fmt
  meteoalarm_rssapi/_parser.py
Labels: core

fill in template
  release.md
Labels: repo
