Repository xlcnd/meteoalarm-rssapi, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, core

.github/labeler.yml:

repo:
  - ./*

test:
  - meteoalarm_rssapi/test/*

core:
  - meteoalarm_rssapi/*

qa -- fmt
  meteoalarm_rssapi/_parser.py
Labels: core

drop dependency on 'feedparser'
  CHANGES.txt
Labels: repo

qa -- isort
  meteoalarm_rssapi/__init__.py
Labels: core

fast/slow request
  meteoalarm_rssapi/_parser.py
Labels: core

update IL
  meteoalarm_rssapi/_resources.py
Labels: core

release 0.3.5
  CHANGES.txt
Labels: repo

init v0.3.6
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

qa -- fmt
  meteoalarm_rssapi/_client.py
  meteoalarm_rssapi/_parser.py
Labels: core

release 0.3.6
  CHANGES.txt
Labels: repo

init v0.3.7
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

qa -- pylint directives
  meteoalarm_rssapi/_parser.py
Labels: core

mv query to 'client'
  meteoalarm_rssapi/_client.py
  meteoalarm_rssapi/_parser.py
Labels: core

mv pub_parser to top
  meteoalarm_rssapi/_parser.py
Labels: core

fix issue #10 (bug) 'cu' to 'bu'
  meteoalarm_rssapi/_resources.py
Labels: core

fix issue #10 (bug) 'cu' to 'bu'
  meteoalarm_rssapi/_resources.py
Labels: core

fix issue #10 (bug) 'cu' to 'bu'
  CHANGES.txt
Labels: repo

release 0.3.7
  CHANGES.txt
Labels: repo

init v0.3.8
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

fix issue #10 (bug) 'bu' to 'bg'
  meteoalarm_rssapi/_resources.py
Labels: core

fix issue #3 (bug) 'bu' to 'bg'
  CHANGES.txt
Labels: repo

fix link
  README.md
Labels: repo

add ISO tests
  meteoalarm_rssapi/test/test_countries.py
  meteoalarm_rssapi/test/test_languages.py
Labels: test

qa -- fmt
  meteoalarm_rssapi/test/test_countries.py
  meteoalarm_rssapi/test/test_health_check.py
  meteoalarm_rssapi/test/test_languages.py
  meteoalarm_rssapi/test/test_regions.py
Labels: test

release 0.3.8
  CHANGES.txt
Labels: repo

init v0.3.9
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

add languages_map
  meteoalarm_rssapi/_resources.py
Labels: core

add 'countries and languages full maps'
  meteoalarm_rssapi/_resources.py
Labels: core

add 'countries and languages full maps'
  meteoalarm_rssapi/_resources.py
Labels: core

add 'countries and languages full maps'
  meteoalarm_rssapi/_resources.py
Labels: core

add 'countries and languages full maps'
  meteoalarm_rssapi/_resources.py
Labels: core

delete unused data structures
  meteoalarm_rssapi/_resources.py
Labels: core

close 0.3.9 (NOT RELEASED)
  CHANGES.txt
Labels: repo

init v1.0.0
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

first 'production' version
  setup.cfg
  setup.py
Labels: repo

group pylint directives
  meteoalarm_rssapi/_parser.py
Labels: core

release 1.0.0
  CHANGES.txt
Labels: repo

init v1.0.1
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

qa -- fmt
  meteoalarm_rssapi/_client.py
  meteoalarm_rssapi/_helpers.py
  meteoalarm_rssapi/_parser.py
  setup.py
Labels: repo, core

add tests on windows
  .github/workflows/basictests.yml
Labels: none

add tests on windows
  .github/workflows/basictests.yml
Labels: none
