Repository xlcnd/meteoalarm-rssapi, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, core

.github/labeler.yml:

repo:
  - ./*

test:
  - meteoalarm_rssapi/test/*

core:
  - meteoalarm_rssapi/*

update resources
  meteoalarm_rssapi/_resources.py
Labels: core

fill in template
  CHANGES.txt
  release.md
Labels: repo

release 1.0.2
  CHANGES.txt
Labels: repo

init v1.0.3
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
  release.md
Labels: repo, core

delete ids
  meteoalarm_rssapi/_parser.py
Labels: core

add ids (there are repeated msgs -- python alerts.py RO Alba ro)
  meteoalarm_rssapi/_parser.py
Labels: core

add comment (repeated messages)
  meteoalarm_rssapi/_parser.py
Labels: core

add docstrings
  meteoalarm_rssapi/_webquery.py
Labels: core

add docstrings
  meteoalarm_rssapi/_parser.py
Labels: core

add docstrings
  meteoalarm_rssapi/_client.py
Labels: core

add docstrings
  meteoalarm_rssapi/_helpers.py
Labels: core

qa -- fmt
  meteoalarm_rssapi/_helpers.py
Labels: core

add quirks to MD
  meteoalarm_rssapi/_resources.py
Labels: core

add 'language parsing' to MD
  CHANGES.txt
  release.md
Labels: repo

release 1.0.3
  CHANGES.txt
Labels: repo

init v1.0.4
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
  release.md
Labels: repo, core

update 'resources'
  meteoalarm_rssapi/_resources.py
Labels: core

add 'blackbot' action
  .github/workflows/black-bot.yaml
Labels: none

add src folder to 'blackbot' action
  .github/workflows/black-bot.yaml
Labels: none

delete options from 'blackbot' action
  .github/workflows/black-bot.yaml
Labels: none

add options to 'blackbot' action
  .github/workflows/black-bot.yaml
Labels: none

qa -- typos
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/black-bot.yaml
  SECURITY.md
  setup.cfg
Labels: repo

qa -- fmt
  setup.cfg
Labels: repo

qa -- update
  meteoalarm_rssapi/_resources.py
Labels: core

qabot -- delete redundant files
  requirements.txt
Labels: repo

qabot -- delete redundant files
  .github/workflows/basictests.yml
Labels: none

qabot -- delete redundant files
  .github/workflows/basictests.yml
Labels: none

qabot -- delete redundant files
  .github/workflows/basictests.yml
Labels: none

qabot -- delete redundant files
  .github/workflows/basictests.yml
Labels: none

qabot -- fmt code
  README.md
  meteoalarm_rssapi/_resources.py
  setup.py
Labels: repo, core

qabot -- fmt code
  meteoalarm_rssapi/_resources.py
Labels: core

[WIP] add types
  meteoalarm_rssapi/_client.py
Labels: core

[WIP] add types
  meteoalarm_rssapi/_client.py
Labels: core

[WIP] add types
  meteoalarm_rssapi/_client.py
Labels: core

[WIP] add types
  meteoalarm_rssapi/_client.py
Labels: core

[WIP] add types
  meteoalarm_rssapi/_client.py
  meteoalarm_rssapi/_parser.py
  meteoalarm_rssapi/_resources.py
Labels: core

[WIP] add types
  meteoalarm_rssapi/_client.py
  meteoalarm_rssapi/_helpers.py
  meteoalarm_rssapi/_webquery.py
Labels: core

[WIP] add types
  meteoalarm_rssapi/_resources.py
Labels: core

[WIP] add types
  meteoalarm_rssapi/_client.py
  meteoalarm_rssapi/_helpers.py
  meteoalarm_rssapi/_parser.py
  meteoalarm_rssapi/_webquery.py
Labels: core

add types
  CHANGES.txt
  release.md
Labels: repo
