Repository xlcnd/meteoalarm-rssapi, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, core

release 0.2.3
  CHANGES.txt
Labels: repo

init v0.2.4
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

rename internal files
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_client.py
Labels: core

take parser out of client
  meteoalarm_rssapi/_client.py
  meteoalarm_rssapi/_parser.py
Labels: core

new 'alert_id' algorithm
  CHANGES.txt
Labels: repo

rearrange imports
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_client.py
Labels: core

release 0.2.4
  CHANGES.txt
Labels: repo

init v0.2.5
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

change UA
  meteoalarm_rssapi/_webquery.py
Labels: core

qa -- fmt
  .gitignore
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_client.py
  meteoalarm_rssapi/_helpers.py
  meteoalarm_rssapi/_parser.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

assure proper order
  meteoalarm_rssapi/_parser.py
  meteoalarm_rssapi/_resources.py
Labels: core

release 0.2.5
  CHANGES.txt
Labels: repo

init v0.2.6
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

make private 'days_since'
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_helpers.py
  meteoalarm_rssapi/_parser.py
Labels: core

update resources with quirks field
  meteoalarm_rssapi/_resources.py
Labels: core

update resources with quirks field
  meteoalarm_rssapi/_resources.py
Labels: core

update resources with quirks field
  meteoalarm_rssapi/_resources.py
Labels: core

update resources with quirks field
  meteoalarm_rssapi/_resources.py
Labels: core

update 'utcnow2iso8601'
  meteoalarm_rssapi/_helpers.py
Labels: core

add 'get_languages'
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_helpers.py
Labels: core

add 'country_languages'
  meteoalarm_rssapi/_client.py
Labels: core

close 0.2.6 (NOT RELEASED)
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_client.py
  meteoalarm_rssapi/_parser.py
  meteoalarm_rssapi/exceptions.py
Labels: repo, core

init v0.3.0
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

add 'language parsing'
  meteoalarm_rssapi/_parser.py
Labels: core

add 'language parsing'
  README.md
Labels: repo

typo
  README.md
Labels: repo

add ISO_3166-1 link
  README.md
Labels: repo

typo
  README.md
Labels: repo

update link
  README.md
Labels: repo

clarify note
  README.md
Labels: repo

add 'language' to tests
  meteoalarm_rssapi/test/test_alerts.py
Labels: test

transform 'language' to lower
  meteoalarm_rssapi/_client.py
Labels: core

reord code
  meteoalarm_rssapi/_client.py
Labels: core

qa -- isort
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_client.py
  meteoalarm_rssapi/_parser.py
Labels: core

qa -- black
  meteoalarm_rssapi/exceptions.py
Labels: core

add test for languages
  CHANGES.txt
  meteoalarm_rssapi/test/test_languages.py
Labels: repo, test

one test with language None
  meteoalarm_rssapi/test/test_alerts.py
Labels: test

release 0.3.0
  CHANGES.txt
Labels: repo

init v0.3.1
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

update
  meteoalarm_rssapi/_resources.py
Labels: core

.github/labeler.yml:

repo:
  - ./*

test:
  - meteoalarm_rssapi/test/*

core:
  - meteoalarm_rssapi/*
