Repository xlcnd/meteoalarm-rssapi, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, core

fix name
  setup.py
Labels: repo

qa -- isort
  README.md
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_client.py
Labels: repo, core

release 0.3.1
  CHANGES.txt
Labels: repo

init v0.3.2
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

qa -- reorganize header
  meteoalarm_rssapi/_resources.py
Labels: core

change 'alert_id' algorithm
  CHANGES.txt
  meteoalarm_rssapi/_parser.py
Labels: repo, core

change 'alert_id' algorithm
  CHANGES.txt
Labels: repo

release 0.3.2
  CHANGES.txt
Labels: repo

init v0.3.3
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

change 'alert_id' algorithm
  README.md
Labels: repo

qa -- add sa config files
  .flake8
  .noserc
  .pylintrc
Labels: repo

qa -- sa
  meteoalarm_rssapi/_helpers.py
  meteoalarm_rssapi/_parser.py
  meteoalarm_rssapi/_webquery.py
  meteoalarm_rssapi/exceptions.py
Labels: core

qa -- sa
  .flake8
  .pylintrc
Labels: repo

qa -- sa
  .gitignore
Labels: repo

qa -- sa
  .flake8
  .noserc
  .pylintrc
Labels: repo

qa -- sa
  .gitignore
Labels: repo

qa -- isort
  meteoalarm_rssapi/_resources.py
Labels: core

update resources
  meteoalarm_rssapi/_resources.py
Labels: core

qa -- typo
  README.md
Labels: repo

qa -- fmt
  README.md
Labels: repo

update resources
  meteoalarm_rssapi/_resources.py
Labels: core

qa -- fmt
  meteoalarm_rssapi/test/test_languages.py
Labels: test

fix 'missing exception' bug
  CHANGES.txt
Labels: repo

release 0.3.3
  CHANGES.txt
Labels: repo

init v0.3.4
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

decrease timeout
  meteoalarm_rssapi/_parser.py
Labels: core

add timeout to MeteoAlarm
  meteoalarm_rssapi/_client.py
  meteoalarm_rssapi/_parser.py
Labels: core

add timeout to MeteoAlarm
  CHANGES.txt
Labels: repo

solve issue #2
  meteoalarm_rssapi/_parser.py
Labels: core

solve issue #2
  meteoalarm_rssapi/_parser.py
Labels: core

qa -- clean
  meteoalarm_rssapi/test/test_alerts.py
Labels: test

solve issue #2
  meteoalarm_rssapi/_parser.py
Labels: core

solve issue #2
  CHANGES.txt
Labels: repo

release 0.3.4
  meteoalarm_rssapi/_client.py
  meteoalarm_rssapi/_parser.py
  meteoalarm_rssapi/test/test_alerts.py
Labels: test, core

init v0.3.5
  CHANGES.txt
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_webquery.py
Labels: repo, core

new strategy: if empty send full msg
  meteoalarm_rssapi/_parser.py
Labels: core

drop dependency on 'feedparser'
  meteoalarm_rssapi/_parser.py
  requirements.txt
  setup.py
Labels: repo, core

add function 'clean'
  meteoalarm_rssapi/_parser.py
Labels: core

mv KEYS to 'resources'
  meteoalarm_rssapi/__init__.py
  meteoalarm_rssapi/_resources.py
Labels: core

qa -- fmt
  meteoalarm_rssapi/_parser.py
Labels: core

.github/labeler.yml:

repo:
  - ./*

test:
  - meteoalarm_rssapi/test/*

core:
  - meteoalarm_rssapi/*
